@import "variables.less"; 
@footerWidth: 40px;

html, body {
    height: 100%;
}
body {
	> .container {
		min-height: 100%;
	    height: auto !important;
	    height: 100%;
	    margin: 0 auto -@footerWidth;
	}	
}

.welcome-message {
	float: right;
	margin: 15px;
	font-size: @font-size-small;
}

#page {
	padding: @padding-large-vertical;
	margin-top: 70px;
	padding-bottom: @footerWidth+20px;
}

#footer {
	height: @footerWidth;
}

.footer {
	border-top: 1px dashed @gray-light;
	font-size: @font-size-small;
	padding-top: @padding-large-vertical;
	padding-bottom: @padding-large-vertical;
	margin: 0;
}


@media (max-width: 768px) {
  .welcome-message {
    float: none;
    margin: 15px 0;
  }
}